@media screen and (min-width: 769px) and (max-width: 1279px){
    .name_value-title h1{
        font-size: 28px;
    }
    .container_input-button{
        justify-content: center;
        gap: 20px;
    }
    .input label{
        margin-left: 30px;
    }
    #inputNameValue{
        width: 280px;
        margin-left: 30px;
    }
   .input{
       width: 400px;
       margin-left: 5px;
   }
    #listNameValue{
        width: 280px;
        margin-left: 30px;
    }
    .button{
        width: 300px;
        margin-right: 5px;
    }

}